postprocessing00
*.zip
*.pdf
*.fig
*.png
*.jpg
*.jpeg
*.avi
*.mpeg
*.mp4
*.asv
*.txt
*.mat
!colornames/colornames.mat
*.svg
*.f
*.csv
!experiments/HerzogLeonard1997/fig_HerzogLeonard1997Fig1A_length.csv
!experiments/HerzogLeonard1997/fig_HerzogLeonard1997Fig1A_forces.csv
!experiments/TrombitasGreaserFrenchGranzier1998/Trombitas1998_Figure5.csv
!experiments/TrombitasGreaserFrenchGranzier1998/Trombitas1998_Figure6.csv
!experiments/HerzogLeonard2002/data/dataHerzogLeonard2002Figure5.csv
!experiments/HerzogLeonard2002/data/dataHerzogLeonard2002Figure6and7A.csv
!experiments/HerzogLeonard2002/data/dataHerzogLeonard2002Figure7B.csv
!experiments/HerzogLeonard2002/data/dataHerzogLeonard2002Figure7C.csv
